

.login,
.image {
  min-height: 100vh;
}
.bg-image {
  background-image: url('../assets/img/abc.png');
  background-size: cover;
  background-position: center center;

  background-size:700px 700px;
  background-repeat: no-repeat;

}